*{
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    font-family: arial;
}
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: linear-gradient(black, black);
    opacity: 86%;
    position: fixed;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;
}
nav li{
display: inline-block;
list-style: none;
padding: 0px 20px;
}
a,button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
button{
    background-color:blue;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
}
nav li a:hover{
    color: rgb(250, 187, 14);
    transition: all 0.4s ease 0s;
}
button:hover{
    background-color: rgb(14, 218, 173);
}
.content_item img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
/* this is a artical code css  */
/* class code tag */
.content{
    border: 3px solid #fff00f;
    padding: 15px;
    margin: 5px;
    display: inline-flex;
}
/* first */
#one{
    text-align: center;
    display: flex;
}
/* second */
#two{
    text-align: center;
    display: inline-flex;
}
/* three */
#three{ 
    text-align: center;
    display: inline-flex;
}
/* this is div one-one */
#one-one{
    display: flex;
}
/* this is div one-two */
#one-two{
    display: flex;
}
/* this is div one-three */
#one-three{
    display: flex;
}